@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-border {
  @apply skew-x-[4deg];
}

.custom-border::before {
  --border-gap: -24px;
  content: "";
  background-image: url(/border.svg);
  width: 22%;
  max-width: 156px;
  left: max(-3.25vw, var(--border-gap));
  top: max(-3.25vw, var(--border-gap));
  @apply absolute aspect-square -skew-x-[4deg] bg-cover bg-no-repeat;
}

.custom-border::after {
  --border-gap: -24px;
  content: "";
  background-image: url(/border.svg);
  width: 22%;
  max-width: 156px;
  right: max(-3.25vw, var(--border-gap));
  bottom: max(-3.25vw, var(--border-gap));
  @apply absolute aspect-square rotate-180 -skew-x-[4deg] bg-cover bg-no-repeat;
}

.custom-border > div {
  @apply -skew-x-[4deg];
}

.review.custom-border::before,
.review.custom-border::after {
  --border-gap: -12px;
  max-width: 76px;
}

.text-h1 {
  @apply text-xl font-bold leading-8 sm:text-4xl sm:leading-[52.5px];
}
.text-h2 {
  @apply text-xl font-bold leading-8 sm:text-3xl sm:leading-[45px];
}
