@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-repeat: repeat-y;
  background-position: center;
  @apply mx-auto max-w-[min(100%-4rem,76rem)] overflow-x-hidden bg-darkPurple-900 bg-[url(/mobile-bg.svg)] text-center text-white sm:bg-[url(/desktop-bg.svg)] lg:text-start;
}

.skew-border {
  @apply skew-x-[5deg] sm:skew-x-[8deg];
}

.skew-border > div {
  @apply -skew-x-[5deg] sm:-skew-x-[8deg];
}

.skew-border::before,
.skew-border::after {
  content: "";
  @apply absolute aspect-square w-16 -skew-x-[5deg] bg-cover bg-no-repeat sm:w-40;
}

.skew-border::before {
  background-image: url(/angle-left.svg);
  @apply -left-[12px] -top-[10px] sm:-left-[24px] sm:-top-[18px];
}

.skew-border::after {
  background-image: url(/angle-right.svg);
  @apply -bottom-[10px] -right-[12px] sm:-bottom-[18px] sm:-right-[24px];
}

.review-border.skew-border {
  @apply skew-x-[5deg];
}

.review-border.skew-border > div {
  @apply -skew-x-[5deg];
}

.review-border.skew-border::before {
  @apply -left-[12px] -top-[10px] w-16;
}
.review-border.skew-border::after {
  @apply -bottom-[10px] -right-[12px] w-16;
}

.about-bg {
  @apply bg-contain bg-center bg-no-repeat sm:bg-[url(/planet.png)];
}

.gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full-border {
  position: relative;
}

.full-border > .tl,
.full-border > .tr,
.full-border > .bl,
.full-border > .br {
  @apply absolute aspect-square h-[76px] bg-cover bg-center bg-no-repeat;
}

.full-border > .tl {
  background-image: url(/border-tl.svg);
  left: -12px;
  top: -12px;
}

.full-border > .tr {
  background-image: url(/border-tr.svg);
  right: -12px;
  top: -12px;
}

.full-border > .br {
  background-image: url(/border-br.svg);
  right: -12px;
  bottom: -12px;
}

.full-border > .bl {
  background-image: url(/border-bl.svg);
  left: -12px;
  bottom: -12px;
}

.team-border-sm,
.team-border-md {
  /* position: relative; */
}

.team-border-sm > .my-border {
  position: absolute;
  /* 
  background-image: url(/team-border-sm.svg);
  height: calc(100% - 120px);
  width: calc(100%);
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* border-image: linear-gradient(
      180deg,
      #f3782c 0%,
      #c8286a 69.27%,
      #832d70 100%
    )
    50 / 0 4px 4px 0 / 2px;
  height: 200px; */
}

/* 
.solution-border-top,
.solution-border-bottom {
  position: relative;
}

.solution-border-top::before,
.solution-border-top::after,
.solution-border-bottom::before,
.solution-border-bottom::after {
  content: url(/angle.svg);
}

.solution-border-top::before {
  @apply absolute -left-3 -top-3;
}
.solution-border-top::after {
  @apply absolute -right-[10px] -top-4 rotate-90;
}
.solution-border-bottom::before {
  @apply absolute -bottom-4 -left-[9px] rotate-[270deg];
}
.solution-border-bottom::after {
  @apply absolute -bottom-[12px] -right-[12px] rotate-[180deg];
}

.single-border {
  @apply relative;
}

.single-border::before,
.single-border::after {
  content: url(/angle.svg);
}

.single-border::before {
  @apply absolute -left-3 -top-3;
}

.single-border::after {
  @apply absolute -bottom-3 -right-3 rotate-180;
}

.big-border {
  border-image: linear-gradient(
      180deg,
      #f3782c 0%,
      #c8286a 69.27%,
      #832d70 100%
    )
    50 / 0 4px 4px 0 / 16px;
} */
